@import "../../styles/variables.scss";

.login {
  width: min(70rem, 90vw);
  background-color: $bg-surface;
  margin: 0 auto;
  padding: $padding;
  padding-block: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p {
      margin: 0 auto;
      span {
        color: $color-secondary;
      }
    }
    button {
      width: max-content;
      margin: 0 auto;
    }
    div {
      color: $text-surface;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      @media screen and (max-width: 540px) {
        flex-direction: column;
      }
      label {
        margin-left: auto;
        @media screen and (max-width: 540px) {
          margin-left: 0;
        }
      }
      input {
        border: none;
        border-radius: 10px;
        background-color: $bg-main;
        color: $text-surface;
        outline: none;
        font-size: 1rem;
        padding: $padding;
      }
    }
  }
}
