$bg-main: rgb(17, 18, 19);
$bg-surface: rgb(27, 28, 31);

$color-primary: rgb(81, 81, 214);
// $color-secondary: rgb(214, 94, 198);
$color-secondary: rgb(174, 174, 41);

$text-main: rgb(222, 224, 236);
$text-surface: rgb(203, 206, 221);

$padding: 10px 20px;
$paddingContainer: 4rem;

$border: 2px solid $color-primary 10px;
