@import "../../styles/variables.scss";

.footer {
  color: $color-secondary !important;
  background-color: $bg-surface;
  color: $text-surface;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid $color-secondary;
  display: flex;
  justify-content: space-between;
  .social {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    span {
      @media screen and (max-width: 540px) {
        display: none;
      }
    }
  }
  .credits {
    color: $color-secondary;
  }
}
