@import "../../../styles/variables.scss";
.uploadForm {
  width: min(70rem, 90vw);
  background-color: $bg-surface;

  padding: $padding;
  padding-block: 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .inputForm {
    font-size: 3rem;
  }
  input {
    display: none;
  }
  .info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
